<div class="Form__Section p-field">
  <div class="p-fluid">
    <app-bound-type
      (emitChange)="handleBoundType($event)"
      [(files)]="files"
      [option]="boundType"
    ></app-bound-type>
  </div>
</div>
<div class="Form__Section p-field">
  <div class="p-fluid">
    <app-bound-colors
      (emitChange)="handleBoundColors($event)"
      [colorActive]="boundColors"
    ></app-bound-colors>
  </div>
</div>

<div class="Form__Section p-field">
  <div class="p-fluid">
    <app-bound-pages
      (emitChange)="handleBoundPages($event)"
      [option]="boundPages"
    ></app-bound-pages>
  </div>
</div>
