<div id="print-wrapper" class="grid p-0 m-0">
  <div id="form-column" class="col-12 lg:col-5">
    <h2>Trípticos</h2>

    <div id="form">
      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tipo de papel</div>
          <app-select-button
            [options]="tripricoOptions.paperType"
            (emitChange)="getProperty('paperType', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Orientación</div>
          <app-select-button
            [options]="tripricoOptions.format"
            (emitChange)="getProperty('format', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tamaño (cerrado)</div>
          <app-select-button
            *ngIf="order.format.code === 'vertical'"
            [options]="tripricoOptions.vertical_size"
            (emitChange)="getProperty('paperSize', $event)"
          ></app-select-button>
          <app-select-button
            *ngIf="order.format.code === 'horizontal'"
            [options]="tripricoOptions.horizontal_size"
            (emitChange)="getProperty('paperSize', $event)"
          ></app-select-button>

          <app-select-button
            *ngIf="order.format.code === 'cuadrado'"
            [options]="tripricoOptions.square_size"
            (emitChange)="getProperty('paperSize', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Cantidad</div>
          <app-select-button
            [options]="tripricoOptions.copiesQuantity"
            (emitChange)="getProperty('copiesQuantity', $event)"
          ></app-select-button>
        </div>
      </div>
      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Comentarios adicionales</div>
          <app-additional-comment
            (emitChange)="getProperty('additionalComments', $event)"
          ></app-additional-comment>
        </div>
      </div>
    </div>
  </div>
  <div id="other-column" class="col-12 lg:col-7">
    <div class="grid p-0 m-0">
      <div id="upload-column" class="col-12 lg:col-12 xl:col-6">
        <div id="upload">
          <app-uploader
            #uploader
            *ngIf="!ready"
            (emitChange)="getFile($event)"
            [multiple]="false"
          ></app-uploader>
        </div>

        <div class="grid" id="files">
          <div
            *ngFor="let file of order.files || []"
            class="col-offset-3 col-6 lg:col-10 lg:col-offset-1"
          >
            <div class="uploaded-file">
              <div class="titulo">
                {{ file.name }}
              </div>
              <img src="{{ file.image }}" alt="" />
              <p>{{ file.pages }} páginas</p>
              <div class="flex justify-content-right">
                <button
                  pButton
                  class="Secondary pink no-padding"
                  label="Eliminar"
                  (click)="removeFile(file.id)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="print-guide-column" class="col-12 lg:col-6 hidden lg:block">
        <div id="print-guide">
          <app-print-guide
            [width]="this.order.paperSize.width * 3"
            [height]="this.order.paperSize.height"
            *ngIf="!!!ready"
          ></app-print-guide>
        </div>
      </div>
    </div>
  </div>

  <div id="print-guide-column-sm" class="col-12 lg:hidden">
    <div id="print-guide">
      <app-print-guide
        [width]="this.order.paperSize.width * 3"
        [height]="this.order.paperSize.height"
        *ngIf="!!!ready"
      ></app-print-guide>
    </div>
  </div>

  <app-confirm-bar
    [addToCartFn]="addToCartFn"
    [getPrecio]="getPrice"
    *ngIf="ready"
    [reset]="reset"
    [(order)]="order"
  ></app-confirm-bar>
</div>
