<div class="Submenu grid">
  <div class="col-12 sm:col-6">
    <a href="/">Impresiones</a>
    <a href="/shop" *ngIf="this.shop_active">Tienda</a>
    <a href="https://iriscopyshop.com/preguntas-frecuentes/" target="_blank"
      >FAQs</a
    >
  </div>
  <div class="col-12 sm:col-6">
    <a class="Back" *ngIf="this.customer" (click)="this.logout()">Salir</a>
    <a
      class="Back"
      *ngIf="!!!this.customer"
      href="/login"
      (click)="this.logout()"
      >Acceso</a
    >
    <a class="Back" *ngIf="this.customer" [routerLink]="'/profile/information'"
      >Tus datos</a
    >
    <a
      class="Back"
      *ngIf="this.customer && this.customer.admin"
      [routerLink]="'/admin/banner'"
      >Administrar</a
    >
    <a class="Back" *ngIf="this.orders.length" href="/payment">Ir a pagar</a>
  </div>
</div>
