@import "src/assets/scss/colors.scss";
.Submenu {
  background-color: #1e1c20;
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    &:hover {
      color: $primary;
    }
  }

  a.Back {
    color: white;
    text-decoration: none;
    margin-right: 0;
    float: right;
    margin-left: 20px;
  }
}
