<div class="ProductDetails grid p-0 m-0" *ngIf="product">
  <div class="col-12 md:col-10 md:col-offset-1">
    <h2>{{ product.name }}</h2>
  </div>
  <div class="col-offset-3 col-6 md:col-3 md:col-offset-1">
    <div
      class="Image"
      [style]="{ 'background-image': 'url(' + picture + ')' }"
    ></div>
  </div>

  <div class="col-12 md:col-8 Details">
    <div class="grid Options" *ngIf="product.attributes.length">
      <div class="col-12 md:col-8 md:col-offset-4">
        <div [innerHTML]="product.short_description"></div>

        <span class="Title"> Opciones disponibles </span>
        <div class="grid">
          <div class="col-12" *ngIf="selectedVariation">
            <span class="Option__selected">
              {{ selectedVariation.attributes[0].option }}
            </span>
          </div>
          <div class="col-4 md:col-2" *ngFor="let variation of variations">
            <div
              [class]="
                'Variation__wrapper' +
                (selectedVariation && selectedVariation.id == variation.id
                  ? ' active'
                  : '')
              "
            >
              <div
                class="Variation"
                [style]="{
                  'background-image': 'url(' + variation.image.src + ')'
                }"
                (click)="selectVariation(variation)"
              ></div>
            </div>
          </div>
        </div>
        <!-- <div class="p-fluid">
                          <p-dropdown [options]="product.attributes[0].options" [(ngModel)]="selectedAttribute"
                              class="p-inputtext-sm" appendTo="body" placeholder="Selecciona una opción"
                              (onChange)="findVariation()"></p-dropdown>
  
                      </div> -->
      </div>
    </div>
    <div class="grid products-selection">
      <div class="col-12 md:col-8 md:col-offset-4">
        <input
          pInputText
          type="number"
          class="p-inputtext-sm"
          [(ngModel)]="quantity"
        />
        <button
          pButton
          class="Secondary no-padding"
          [icon]="'fas fa-shopping-cart'"
          [label]="'Añadir al carro'"
          (click)="addToCart()"
          [disabled]="!quantity || buttonDisabled()"
        ></button>
      </div>
    </div>
    <div class="grid">
      <div class="Price col-8 md:col-offset-4">
        <div *ngIf="product.attributes.length > 0 && selectedVariation">
          Precio unidad: {{ (+selectedVariation.price).toFixed(2) }} €
          <br />
          <span *ngIf="quantity">
            Precio total:
            {{ (+selectedVariation.price * quantity).toFixed(2) }} €
          </span>
        </div>

        <div
          *ngIf="
            product.attributes.length == 0 ||
            (product.attributes.length > 0 &&
              product.variations.length == 0 &&
              selectedAttribute)
          "
        >
          {{ (+product.price).toFixed(2) }}€
        </div>
      </div>
    </div>
  </div>
</div>
