<p-sidebar [(visible)]="visible" [position]="'right'" class="Menu">
  <ng-template pTemplate="header">
    <img class="logo" src="assets/images/logo.png" alt="logo iriscopy" />
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-12">
        <div class="item-link">
          <a class="link" href="https://iriscopyshop.com">Inicio</a>
        </div>
        <div class="item-link">
          <a class="link" x (click)="visible = false" [routerLink]="'/print'">
            Imprimir
          </a>
        </div>
        <div class="item-link" *ngIf="isShopActive">
          <a class="link" (click)="visible = false" [routerLink]="'/shop'">
            Tienda
          </a>
        </div>
        <div class="item-link">
          <a
            class="link"
            (click)="puntosRecogidaOpened = !!!puntosRecogidaOpened"
          >
            Puntos de recogida
            <i *ngIf="!!!puntosRecogidaOpened" class="fas fa-caret-down"></i>
            <i *ngIf="puntosRecogidaOpened" class="fas fa-caret-up"></i>
          </a>
        </div>
        <ng-container *ngIf="puntosRecogidaOpened">
          <div class="item-link" *ngFor="let p of puntosRecogida">
            <a href="{{ p.routerLink }}" class="sublink">
              {{ p.label }}
            </a>
          </div>
        </ng-container>
        <div class="item-link">
          <a class="link" href="https://iriscopyshop.com/encuadernar/">
            Encuadernar apuntes
          </a>
        </div>
        <div class="item-link">
          <a class="link" href="https://iriscopyshop.com/preguntas-frecuentes">
            Preguntas frecuentes
          </a>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>
