/* Añade esta regla a tu archivo CSS global */
@use "src/assets/scss/colors.scss" as colors;

::ng-deep {
  .p-sidebar {
    background-color: white;
    color: white; /* Para cambiar el color del texto a blanco */

    .p-sidebar-header {
      .logo {
        height: 50px;
        padding-left: 20px;
      }
    }

    .item-link {
      padding: 15px;
      border-bottom: 2px solid colors.$rosa;
      width: 100%;

      .link {
        cursor: pointer;
        display: block;
        width: 100%;
        text-decoration: none;
        color: colors.$negro;
      }

      .sublink {
        cursor: pointer;
        display: block;
        width: 100%;
        text-decoration: none;
        color: colors.$negro;
        padding-left: 30px;
      }
    }
  }
}
