<div id="print-wrapper" class="grid p-0 m-0">
  <div id="form-column" class="col-12 lg:col-5">
    <div id="form">
      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tamaño del papel</div>
          <app-paper-size (emitChange)="getPaperSize($event)"></app-paper-size>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tipo de papel</div>
          <app-paper-type
            #paperTypeComponent
            (emitChange)="getPaperType($event)"
            [(paperSize)]="this.paperSize"
          ></app-paper-type>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tipo de impresión</div>
          <app-print-type
            (emitChange)="getPrintType($event)"
            [(paperType)]="this.paperType"
          ></app-print-type>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Forma de impresión</div>
          <app-print-form
            (emitChange)="getPrintForm($event)"
            [(paperType)]="this.paperType"
          ></app-print-form>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <app-orientation
            (emitChange)="getOrientation($event)"
          ></app-orientation>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Páginas por cara</div>
          <app-pages-per-side
            (emitChange)="getPagesPerSide($event)"
            [(orientation)]="this.orientation"
          ></app-pages-per-side>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tipo de acabado</div>
          <app-finish-type
            (emitChange)="getFinishType($event)"
            [(paperSize)]="this.paperSize"
            [(printForm)]="this.printForm"
            [(files)]="this.files"
            [(pagesPerSide)]="this.pagesPerSide"
          ></app-finish-type>
        </div>
      </div>
      <div
        class="Form__Section p-field"
        *ngIf="this.finishType && this.finishType.code === 'encuadernado'"
      >
        <div class="p-fluid">
          <div class="Label">Encuadernar los documentos</div>
          <app-bound
            (emitChangeBound)="getBound($event)"
            [boundType]="this.boundType"
            [boundPages]="this.boundPages"
            [boundColors]="this.boundColors"
            [(files)]="this.files"
          >
          </app-bound>
        </div>
      </div>

      <div class="grid">
        <div class="col-3 sm:col-2">
          <div class="Form__Section p-field">
            <div class="p-fluid">
              <div class="Label">Copias</div>
              <app-quantity-copies
                (emitChange)="getCopiesQuantity($event)"
              ></app-quantity-copies>
            </div>
          </div>
        </div>
        <div class="col-9 sm:col-10">
          <div class="Form__Section p-field">
            <div class="p-fluid">
              <div class="Label">Comentarios adicionales</div>
              <app-additional-comment
                (emitChange)="getAdditionalComments($event)"
              ></app-additional-comment>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="other-column" class="col-12 lg:col-7">
    <div class="grid p-0 m-0">
      <div id="upload-column" class="col-12 lg:pt-8 lg:col-12 xl:col-6">
        <div id="upload">
          <app-uploader #uploader (emitChange)="getFile($event)"></app-uploader>
        </div>
      </div>

      <div
        id="banner-column"
        class="col-12 lg:col-8 lg:col-offset-2 xl:col-6 xl:col-offset-0 hidden lg:block"
      >
        <div id="banner">
          <app-banner
            class="hidden sm:block"
            [options]="{ visible_pc: true, visible_print: true }"
          ></app-banner>
          <app-banner
            class="block sm:hidden"
            [options]="{ visible_phone: true, visible_print: true }"
          ></app-banner>
        </div>
      </div>

      <div id="files-column" class="col-12">
        <div class="grid">
          <div
            *ngFor="let file of files || []"
            class="col-6 sm:col-4 md:col-4 lg:col-4 xl:col-3"
          >
            <div class="uploaded-file">
              <div class="titulo">
                {{ file.name }}
              </div>
              <img src="{{ file.image }}" alt="" />
              <p>{{ file.pages }} páginas</p>
              <div class="flex justify-content-right">
                <button
                  pButton
                  class="Secondary pink no-padding"
                  label="Eliminar"
                  (click)="this.removeFile(file.id)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="banner-sm-column" class="lg:hidden">
    <div id="banner-column" class="col-12 sm:col-6 sm:col-offset-3 sm:visible">
      <div id="banner">
        <app-banner
          class="hidden sm:block"
          [options]="{ visible_pc: true, visible_print: true }"
        ></app-banner>
        <app-banner
          class="block sm:hidden"
          [options]="{ visible_phone: true, visible_print: true }"
        ></app-banner>
      </div>
    </div>
  </div>

  <app-confirm-bar
    *ngIf="this.isReady()"
    [reset]="this.reset"
    [(order)]="this.order"
  ></app-confirm-bar>
</div>
