@import "src/assets/scss/colors.scss";

#form-column {
  order: 1;
}
#upload-column {
  order: 2;
}
#banner-column {
  order: 3;
}

#form {
  background-color: white;
  border-right: $border;
  padding: 20px 50px 0px 50px;
}

#banner {
  padding-top: 40px;
}

@media (max-width: 768px) {
  #form-column {
    order: 2;
  }
  #form {
    padding: 10px 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  #banner {
    padding: 40px;
  }

  #upload-column {
    order: 1;
  }

  #banner-colum {
    order: 3;
  }
}
