@use "src/assets/scss/colors.scss" as colors;
.p-button {
  color: #ffffff;
  background: colors.$darkGray;
  border: 1px solid colors.$darkGray;

  .p-button-label {
    font-family: "Montserrat" !important;
  }
}
.p-button {
  border-radius: 8px;
}

.p-button:enabled:hover {
  background: colors.$darkGray;
  color: #ffffff;
  border-color: colors.$darkGray;
}
.p-fileupload-choose-button,
.p-button.p-fileupload-choose,
.p-button.p-fileupload-choose:hover,
.p-fileupload-choose:not(.p-disabled):hover,
.p-button.Secondary,
.p-button.Secondary:hover,
.Secondary:not(.p-disabled):hover {
  color: black !important;
  background: colors.$yellow !important;
  border: 2px solid colors.$negro !important;
  font-weight: bold !important;
  padding: 15px 40px 15px 40px;

  .p-button-label {
    font-family: "NeverMind" !important;
  }

  &.no-padding {
    padding: 5px;
  }

  &.low-padding {
    padding: 15px;
  }

  &.pink {
    background-color: colors.$rosa !important;
    color: white !important;
  }
}
