$primary: #ff0099;
$background: #f5f5f5;
$yellow: #ffff33;
$green: #00ff00;
$darkGray: #333333;
$lightGray: #cccccc;
$lightPrimary: #fff2f6;
$black: #000000;
//

$rosa: #ff0099;
$lila: #ccccff;
$amarillo: #ffff33;
$negro: #000000;

$border:  2px solid $negro;