@use "./colors.scss" as colors;

.p-toast .p-toast-message.p-toast-message-success {
  background: colors.$darkGray !important;
  border: solid colors.$primary !important;
  border-width: 0 0 0 6px !important;
  color: colors.$primary !important;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: colors.$primary !important;
}

.p-toast-message-success .p-toast-detail {
  color: colors.$primary !important;
}
