@import "./colors.scss";

.p-toast .p-toast-message.p-toast-message-success {
    background: $darkGray;
    border: solid $primary;
    border-width: 0 0 0 6px;
    color: $primary;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: $primary;
}