.Textarea,
.Textarea:active,
.Textarea:hover,
.Textarea:visited,
.Textarea:focus {
  font-size: 12px;
  border: 2px solid black;
  border-radius: 10px; /* Aplica bordes redondeados en todo el textarea */
  box-shadow: none;
  resize: none; /* Evita que el usuario pueda cambiar el tamaño del textarea manualmente */
  width: 100%;
}

.Textarea::placeholder {
  font-size: 10px !important;
  line-height: 1.2;
}

/* Ajusta el tamaño del placeholder en móviles para que se vea bien */
@media (max-width: 600px) {
  .Textarea::placeholder {
    font-size: 8px !important;
    line-height: 1.2;
  }
}
