<div class="grid p-0 m-0">
  <div class="col-12 lg:col-6 lg:col-offset-3">
    <div id="sign-up" class="iriscopy-box mt-8">
      <h2>Regístrate en Iris Copy</h2>

      <form>
        <div class="grid">
          <div class="field col-12 md:col-5">
            <label for="username">Nombre de usuario</label>
            <input
              [(ngModel)]="username"
              id="username"
              type="text"
              name="username"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small class="error" *ngIf="errors['username']">
              {{ errors["username"] }}
            </small>
          </div>
          <div class="field col-12 md:col-7">
            <label for="username">Email</label>
            <input
              [(ngModel)]="email"
              id="email"
              type="text"
              name="email"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small class="error" *ngIf="errors['email']">
              {{ errors["email"] }}
            </small>
          </div>
          <div class="field col-12 md:col-6">
            <label for="password">Contraseña</label>
            <input
              [(ngModel)]="password"
              id="password"
              type="password"
              name="password"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small class="error" *ngIf="errors['password']">
              {{ errors["password"] }}
            </small>
          </div>
          <div class="field col-12 md:col-6">
            <label for="passwordConfirm">Confirmar contraseña</label>
            <input
              [(ngModel)]="passwordConfirm"
              id="passwordConfirm"
              type="password"
              name="passwordConfirm"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small class="error" *ngIf="errors['passwordConfirm']">
              {{ errors["passwordConfirm"] }}
            </small>
          </div>
          <div class="col-12 md:col-12">
            <button
              type="submit"
              pButton
              [label]="buttonText"
              class="p-button-sm Secondary"
              (click)="register()"
            ></button>
          </div>
          <div class="field col-12 md:col-12" *ngIf="errors['general']">
            {{ errors["general"] }}. Accede a tu cuenta
            <a href="/login?email={{ email }}">aquí</a> o
            <a href="/forgot-password?email={{ email }}"
              >recupera tu contraseña</a
            >.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
