<div class="grid">
  <div class="field col-12 md:col-8">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="name"
          >Nombre y apellidos <span class="mandatory">*</span></label
        >
        <input id="name" [(ngModel)]="billingDetails.first_name" pInputText />
      </div>
      <small
        *ngIf="billingDetailsErrors.first_name"
        id="first_name-help"
        class="p-error"
      >
        {{ billingDetailsErrors.first_name }}
      </small>
    </div>
  </div>
  <div class="field col-12 md:col-4">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="last_name"
          >DNI/NIE/CIF <span class="mandatory">*</span></label
        >
        <input
          [(ngModel)]="billingDetails.last_name"
          id="last_name"
          pInputText
        />
      </div>
      <small
        *ngIf="billingDetailsErrors.last_name"
        id="last_name-help"
        class="p-error"
        >{{ billingDetailsErrors.last_name }}</small
      >
    </div>
  </div>
</div>
<div class="grid">
  <div class="field col-12 md:col-8">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="phone"
          >Teléfono <span class="mandatory">*</span></label
        >
        <input
          [(ngModel)]="billingDetails.phone"
          id="phone"
          aria-describedby="phone-help"
          pInputText
        />
      </div>
      <small
        *ngIf="billingDetailsErrors.phone"
        id="phone-help"
        class="p-error"
        >{{ billingDetailsErrors.phone }}</small
      >
    </div>
  </div>
</div>
<div class="grid">
  <div class="field col-12 md:col-8">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="email"
          >Correo electrónico <span class="mandatory">*</span></label
        >
        <input
          [(ngModel)]="billingDetails.email"
          id="email"
          aria-describedby="email-help"
          pInputText
        />
      </div>
      <small
        *ngIf="billingDetailsErrors.email"
        id="email-help"
        class="p-error"
        >{{ billingDetailsErrors.email }}</small
      >
    </div>
  </div>
</div>
<div class="grid" *ngIf="shipping">
  <div class="field col-12 md:col-8">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="address_1"
          >Dirección de envío <span class="mandatory">*</span> calle y
          número</label
        >
        <input
          [(ngModel)]="billingDetails.address_1"
          id="address_1"
          aria-describedby="address_1-help"
          pInputText
        />
      </div>
      <small
        *ngIf="billingDetailsErrors.address_1"
        id="address_1-help"
        class="p-error"
        >{{ billingDetailsErrors.address_1 }}</small
      >
    </div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="address_2"
          >planta, piso/puerta u otro</label
        >
        <input
          [(ngModel)]="billingDetails.address_2"
          id="address_2"
          aria-describedby="address_2-help"
          pInputText
        />
      </div>

      <small
        *ngIf="billingDetailsErrors.address_2"
        id="address_2-help"
        class="p-error"
        >{{ billingDetailsErrors.address_2 }}</small
      >
    </div>
  </div>
</div>

<div class="grid" *ngIf="shipping">
  <div class="field col-12 md:col-8">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="city"
          >Localidad / Ciudad <span class="mandatory">*</span></label
        >
        <input
          [(ngModel)]="billingDetails.city"
          id="city"
          aria-describedby="city-help"
          pInputText
        />
      </div>

      <small *ngIf="billingDetailsErrors.city" id="city-help" class="p-error">{{
        billingDetailsErrors.city
      }}</small>
    </div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="postcode"
          >Código postal <span class="mandatory">*</span></label
        >
        <input
          (change)="onUpdatePostalCode()"
          [(ngModel)]="billingDetails.postcode"
          id="postcode"
          aria-describedby="postcode-help"
          pInputText
        />
      </div>
      <small
        *ngIf="billingDetailsErrors.postcode"
        id="postcode-help"
        class="p-error"
        >{{ billingDetailsErrors.postcode }}</small
      >
    </div>
  </div>
</div>
<div class="grid">
  <div class="field col-12">
    <div class="p-fluid">
      <div class="input-container">
        <label class="form-label" for="comments"
          >Observaciones de tu pedido</label
        >
        <textarea
          id="comments"
          [(ngModel)]="billingDetails.others"
          [rows]="5"
          aria-labelledby="others-help"
          [cols]="30"
          pInputTextarea
          autoResize="autoResize"
        ></textarea>
      </div>
    </div>
  </div>
</div>
