@import "src/assets/scss/colors.scss";

#ConfirmBar {
  background-color: $primary;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  box-shadow: 0px 0px 5px gray;

  #Botones {
    text-align: center;
    .Boton {
      color: black;
      font-weight: bold;
      text-align: center !important;
    }
  }

  #Precio {
    color: white;
    text-align: center;

    #Texto {
      font-size: 20px;
    }

    #Cantidad {
      font-weight: bold;
      font-size: 30px;
    }
  }
}
