<div id="ConfirmBar">
  <div class="grid">
    <div class="col-12 md:col-8">
      <div id="Botones">
        <div class="grid">
          <div class="col-6 md:col-4 md:col-offset-2">
            <div class="p-fluid">
              <button pButton class="Boton p-button-warning" icon="fas fa-shopping-cart"
                label="Finalizar y pagar"></button>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-12 md:col-4">
      <div id="Precio">
        <span id="Texto">Total a pagar </span><span id="Cantidad">0.00 €</span>
      </div>
    </div>
  </div>
</div>
