<div class="grid p-0 m-0">
  <div class="col-12 md:col-6 md:col-offset-3">
    <div id="login" class="iriscopy-box mt-8">
      <h2>Inicia sesión con tu cuenta de Iris Copy</h2>

      <form>
        <div class="field">
          <label class="form-label" for="username">Nombre de usuario</label>
          <input
            [(ngModel)]="username"
            id="username"
            type="text"
            name="username"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
          <small class="error" *ngIf="errors['username']">
            {{ errors["username"] }}
          </small>
        </div>

        <div class="field">
          <label class="form-label" for="password">Contraseña</label>
          <input
            [(ngModel)]="password"
            id="password"
            type="password"
            name="password"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
          <small class="error" *ngIf="errors['password']">
            {{ errors["password"] }}
          </small>
        </div>
        <div class="field">
          {{ errors["general"] }}
        </div>
        <div class="links flex justify-content-right">
          <button
            type="submit"
            pButton
            label="Acceder"
            class="p-button-sm Secondary"
            (click)="performLogin()"
          ></button>
          <div class="link" [routerLink]="'/sign-up'">Crear una cuenta</div>
          <div class="link" [routerLink]="'/forgot-password'">
            Olvidé mi contraseña
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
