<div id="header" class="grid">
  <div id="logo" class="col-4 sm:col-4 md:col-2">
    <a href="/">
      <img src="assets/images/logo.png" style="width: 100%" alt="" />
    </a>
  </div>

  <div id="menu" class="col-8 sm:col-8 md:col-10">
    <div class="links hidden sm:inline-block">
      <a class="link" href="https://iriscopyshop.com">Inicio</a>
      <a class="link" href="/"> Imprimir </a>
      <a class="link" href="/shop" *ngIf="this.shop_active"> Tienda </a>
      <p-menu
        #menuRecogida
        [model]="puntosRecogida"
        [popup]="true"
        [style]="{ width: '300px' }"
      ></p-menu>
      <a class="link" (click)="this.menuRecogida.toggle($event)">
        Puntos de recogida
      </a>
      <a class="link" href="https://iriscopyshop.com/encuadernar/">
        Encuadernar apuntes
      </a>
      <a class="link" href="https://iriscopyshop.com/preguntas-frecuentes">
        Preguntas frecuentes
      </a>

      <a class="link icon" (click)="this.iconProfileClicked($event)">
        <i class="fas fa-user"></i>
      </a>
      <p-menu #menu [model]="profile" [popup]="true"></p-menu>

      <a class="link icon" (click)="toggleSidebar()">
        <i
          *ngIf="this.copies.length + this.products.length == 0"
          class="ShoppingCart__Icon fas fa-shopping-cart"
        ></i>
        <i
          *ngIf="this.copies.length + this.products.length"
          pBadge
          class="ShoppingCart__Icon fas fa-shopping-cart"
          [value]="this.copies.length + this.products.length"
        ></i>
      </a>
    </div>
    <div class="links sm:hidden">
      <a class="link icon" (click)="this.iconProfileClicked($event)">
        <i class="fas fa-user"></i>
      </a>
      <p-menu #menu [model]="profile" [popup]="true"></p-menu>

      <a class="link icon" (click)="toggleSidebar()">
        <i
          *ngIf="this.copies.length + this.products.length == 0"
          class="ShoppingCart__Icon fas fa-shopping-cart"
        ></i>
        <i
          *ngIf="this.copies.length + this.products.length"
          pBadge
          class="ShoppingCart__Icon fas fa-shopping-cart"
          [value]="this.copies.length + this.products.length"
        ></i>
      </a>

      <a class="link icon not-rounded" (click)="sidebarVisible = true">
        <i class="bars fas fa-bars"></i>
      </a>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" [position]="'right'" class="Menu">
  <div class="grid">
    <div class="col-8 col-offset-2">
      <img src="assets/images/logo_white.png" style="width: 100%" alt="" />
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="Item">
        <a class="link" href="https://iriscopyshop.com"
          ><i class="fas fa-home"></i> inicio</a
        >
      </div>
      <div class="Item">
        <a
          class="link"
          (click)="this.sidebarVisible = false"
          [routerLink]="'/print'"
        >
          <i class="fas fa-print"></i> imprimir
        </a>
      </div>
      <div class="Item" *ngIf="this.shop_active">
        <a
          class="link"
          (click)="this.sidebarVisible = false"
          [routerLink]="'/shop'"
        >
          <i class="fas fa-highlighter"></i> tienda
        </a>
      </div>
      <div class="Item">
        <a
          class="link"
          href="https://iriscopyshop.com/preguntas-frecuentes/"
          target="_blank"
        >
          <i class="far fa-question-circle"></i> FAQs
        </a>
      </div>
      <div class="Item" *ngIf="!!!this.customer">
        <a
          class="link"
          [routerLink]="'/login'"
          (click)="this.sidebarVisible = false"
        >
          <i class="fas fa-user-circle"></i> acceso
        </a>
      </div>
      <div class="Item" *ngIf="this.customer">
        <a
          class="link"
          (click)="this.sidebarVisible = false"
          [routerLink]="'/profile/information'"
        >
          <i class="fas fa-user-circle"></i> tus datos
        </a>
      </div>
      <div class="Item" *ngIf="this.customer && this.customer.admin">
        <a
          class="link"
          (click)="this.sidebarVisible = false"
          [routerLink]="'/admin/banner'"
        >
          <i class="fas fa-user-cog"></i> administrar
        </a>
      </div>
      <div class="Item" *ngIf="this.customer">
        <a class="link" (click)="this.sidebarVisible = false; this.logout()">
          <i class="fas fa-power-off"></i> salir
        </a>
      </div>
    </div>
  </div>
</p-sidebar>

<app-shopcart class="" #shopcart></app-shopcart>
