@import "src/assets/scss/colors.scss";

#header {
  border-bottom: $border;
  font-family: "NeverMind";
  align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 100px;

  #menu {
    text-align: left;
    padding-left: 100px;

    .links {
      font-size: 16px;
      .bars  {
        font-size: 30px;
        color: $rosa;
      }
      .icon {
        color: $rosa;
        border: 3px solid $rosa;
        padding: 10px;
        border-radius: 100%;
        i {
          font-size: 20px;
        }

        &.not-rounded {
          border: none;
        }
      }

      .ShoppingCart__Icon {
        ::ng-deep .p-badge {
          font-size: 0.6rem;
          font-weight: 700;
          min-width: 1.2rem;
          height: 1.2rem;
          line-height: 1.2rem;
          transform: translate(80%, -50%) !important;
        }
      }
    }

    .link {
      cursor: pointer;
      text-decoration: none;
      color: black;
      margin-left: 20px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* Añade esta regla a tu archivo CSS global */
::ng-deep .Menu {
  .p-sidebar {
    background-color: $darkGray;
    color: white; /* Para cambiar el color del texto a blanco */

    .Item {
      padding: 15px;
      border-bottom: 1px solid white;
      width: 100%;

      .Link {
        text-decoration: none;
        color: white;
      }
    }
  }
}

::ng-deep .p-badge {
  background-color: white;
  color: $negro;
}

/* Media Query para pantallas de móviles */
@media (max-width: 768px) {
  #header {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    #menu {
      padding-left: 0;
      text-align: right;
      .links {
        .icon {
          margin-left: 10px;
          padding: 5px;
          padding-left: 8px;
          padding-right: 8px;
          i {
            font-size: 14px;
          }

          .bars {
            font-size: 20px;
          }
        }
      }
    }
  }

  #Links__mobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    i {
      margin-left: 20px;
      cursor: pointer;
      font-size: 24px;
    }
  }
}
