<div id="header">
  <div id="logo">
    <a href="https://iriscopyshop.com">
      <img src="assets/images/logo-nuevo.png" alt="" />
    </a>
  </div>

  <div id="menu">
    <div class="links hidden lg:flex">
      <a class="link" href="https://iriscopyshop.com">Inicio</a>
      <a class="link" href="/"> Imprimir </a>
      <a class="link" href="/shop" *ngIf="this.shop_active">Papelería </a>
      <a class="link" (click)="this.menuRecogida.toggle($event)">
        <p-menu
          #menuRecogida
          [model]="puntosRecogida"
          [popup]="true"
          [style]="{ width: '300px' }"
        ></p-menu>
        Puntos de recogida <i class="collapse-icon fas fa-chevron-down"></i>
      </a>
      <a class="link" href="https://iriscopyshop.com/encuadernar/">
        Encuadernar apuntes
      </a>
      <a class="link" href="https://iriscopyshop.com/preguntas-frecuentes">
        Preguntas frecuentes
      </a>
    </div>
    <div class="icons">
      <a class="icon" (click)="this.iconProfileClicked($event)">
        <i class="fas fa-user"></i>
        <p-menu #menu [model]="profile" [popup]="true"></p-menu>
      </a>

      <a class="icon" (click)="toggleShoppingCart()">
        <i
          *ngIf="this.copies.length + this.products.length == 0"
          class="ShoppingCart__Icon fas fa-shopping-cart"
        ></i>
        <i
          *ngIf="this.copies.length + this.products.length"
          pBadge
          class="ShoppingCart__Icon fas fa-shopping-cart"
          [value]="this.copies.length + this.products.length"
        ></i>
      </a>
      <a class="lg:hidden icon not-rounded" (click)="this.toggleMobileMenu()">
        <i
          [class]="
            'bars' + (this.mobileMenuOpened ? ' fas fa-times' : ' fas fa-bars')
          "
        ></i>
      </a>
    </div>
  </div>
</div>

<app-mobile-menu *ngIf="this.mobileMenuOpened"></app-mobile-menu>

<app-menu-sidebar #sidebar [isShopActive]="this.shop_active"></app-menu-sidebar>
<app-shopcart class="" #shopcart></app-shopcart>
