@import "src/assets/scss/colors.scss";

#Header {
  padding: 20px 30px;
  #Menu {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;

    div {
      display: inline-block;
    }

    #Links__mobile {
      cursor: pointer;
      font-size: 30px;
      i {
        margin-left: 30px;
      }
    }

    #Links {
      .ShoppingCart__Icon {
        font-size: 20px;
        ::ng-deep .p-badge {
          font-size: 0.6rem;
          font-weight: 700;
          min-width: 1.2rem;
          height: 1.2rem;
          line-height: 1.2rem;
          transform: translate(80%, -50%) !important;
        }
      }
    }

    .Link {
      cursor: pointer;
      text-decoration: none;
      color: black;
      margin-left: 20px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* Añade esta regla a tu archivo CSS global */
::ng-deep .Menu {
  .p-sidebar {
    background-color: $darkGray;
    color: white; /* Para cambiar el color del texto a blanco */

    .Item {
      padding: 15px;
      border-bottom: 1px solid white;
      width: 100%;

      .Link {
        text-decoration: none;
        color: white;
      }
    }
  }
}

::ng-deep .p-badge {
  background-color: $primary;
}
