@import "src/assets/scss/colors.scss";

#Header {
  padding: 20px 0px 0px 0px;

  .Link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 20px;

    &:hover {
      text-decoration: none;
    }
  }

  #Menu {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;

    #Toggle {
      cursor: pointer;
      font-size: 30px;
    }
  }

  .Shopcart {
    text-align: right;

    .ShoppingCart__Icon {
      cursor: pointer;
      font-size: 30px;
    }

    span.p-badge {
      background: $primary !important;
    }
  }
}

/* Añade esta regla a tu archivo CSS global */
::ng-deep .p-sidebar {
  background-color: $darkGray;
  color: white; /* Para cambiar el color del texto a blanco */

  .Item {
    padding: 15px;
    border-bottom: 1px solid white;
    width: 100%;

    .Link {
      text-decoration: none;
      color: white;
    }
  }
}
