@use "src/assets/scss/colors.scss" as colors;

.Shop__menu {
  ::ng-deep.p-menubar {
    background-color: white !important;
  }
}

.shop-container {
  padding: 0px 10px;
  @media (max-width: 767px) {
    padding: 0px 0px;
  }
}

.carousel-container {
  // in smartphones -300px in other cases -200px
  @media (max-width: 767px) {
    margin-bottom: calc(-300px + 30px);
  }

  @media (min-width: 768px) {
    margin-bottom: calc(-200px + 30px);
  }
}

#shop-menu-container {
  z-index: 99;
  // hace el fondo borroso a partir de una variable scss
  background-color: rgba(colors.$lila, 0.4);
  padding: 30px;
  border-bottom: 2px solid black;
  input {
    border: 2px solid black;
    font-family: "NeverMind";

    &::-webkit-input-placeholder {
      font-family: "NeverMind";
    }
  }
}
