@import "src/assets/scss/colors.scss";

.Shop__menu {
  ::ng-deep.p-menubar {
    background-color: white !important;
  }
}

.product-container {
  border-right: 6px solid white;
  border-bottom: 6px solid white;
}

.shop-container {
  border-top: 6px solid white;
  border-left: 6px solid white;
}

.carousel-container {
  // in smartphones -300px in other cases -200px
  @media (max-width: 767px) {
    margin-bottom: calc(-300px + 30px);
  }

  @media (min-width: 768px) {
    margin-bottom: calc(-200px + 30px);
  }
}

#shop-menu-container {
  z-index: 999;
  // hace el fondo borroso a partir de una variable scss
  background-color: rgba($lila, 0.4);
  padding: 30px;
  border-radius: 30px;
}
