<div class="grid p-0 m-0">
  <div class="col-12">
    <app-carousel
      class="carousel-container hidden sm:block"
      [seconds_per_slide]="second_per_slide"
      [options]="{ visible_pc: true, visible_shop: true }"
    ></app-carousel>
    <app-carousel
      class="carousel-container block sm:hidden"
      [seconds_per_slide]="second_per_slide"
      [options]="{ visible_phone: true, visible_shop: true }"
    ></app-carousel>
  </div>

  <div id="shop-menu-container" class="col-12">
    <div class="grid p-0 m-0">
      <div class="col-12 md:col-4">
        <div class="p-fluid">
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              [(ngModel)]="searchText"
              placeholder="Buscar en la tienda..."
              (ngModelChange)="filter()"
            />
          </span>
        </div>
      </div>
      <div class="col-12 md:col-8">
        <div class="p-fluid">
          <app-pills #pills [pills]="categories"></app-pills>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="shop-container grid">
      <div class="col-6 md:col-3" *ngFor="let product of filteredProducts">
        <div class="product-container">
          <app-product [product]="product"></app-product>
        </div>
      </div>
    </div>
  </div>
</div>
