<div class="grid">
    <div class="col-12 md:col-6">
        <div class="p-fluid">

            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="searchText" placeholder="Carpeta, Bolígrafo, Edding,..."
                    (ngModelChange)="this.filter()" />
            </span>
        </div>
    </div>
    <div class="col-12 md:col-12">
        <div class="p-fluid">
            <p-tabMenu [model]="categories" [scrollable]="true"></p-tabMenu>
        </div>
        <app-banner></app-banner>
    </div>
    <div class="col-12 md:col-12">
        <div class="grid">
            <div class="col-6 md:col-4" *ngFor="let product of filteredProducts">
                <app-product [product]="product"></app-product>
            </div>
        </div>
    </div>
</div>