@use "src/assets/scss/colors.scss" as colors;

.buttons {
  .button {
    margin-bottom: 10px !important;
  }
}

::ng-deep .p-ripple.p-button.p-component {
  background-color: colors.$yellow !important;
  color: black;
  border: 2px solid black;
}

/* Añade esta regla a tu archivo CSS global */
::ng-deep .Shopcart {
  .p-sidebar {
    background-color: white;
  }
}
.shopcart-content {
  position: relative;
}

.total {
  color: black;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  text-align: end;
  padding-right: 15px;
  padding-top: 5px;
  border-top: 1px black solid;

  .text {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
  }
  .value {
    font-size: 1.2rem;
    font-weight: 600;
    color: colors.$primary;
  }
}
