<p-drawer class="shopcart-wrapper" [(visible)]="display" [position]="'right'">
  <div class="shopcart-content">
    <div class="buttons">
      <div class="p-fluid">
        <button
          pButton
          label="Continuar con el pago"
          class="button p-button-sm Secondary no-padding"
          (click)="continue()"
        ></button>

        <button
          pButton
          label="Seguir comprando"
          class="button p-button-sm Secondary no-padding pink"
          (click)="continueShopping()"
        ></button>
      </div>
    </div>
    <app-shopcart #shopcart></app-shopcart>

    <div class="total">
      <span class="title">Total: </span>
      <span class="value"
        >{{ shopcart.getTotalPrice() | number : "1.2-2" }}€</span
      >
    </div>
  </div>
</p-drawer>
