@import "src/assets/scss/colors";

.order-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;

  .title {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    .value {
      display: block;
    }
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 5px;
      background-color: $lila;
      color: black;
      border: 1px solid black;
      font-size: 14px;
      min-width: 40px;
      height: 40px;
      box-sizing: border-box;
      img {
        height: 100%;
        width: auto;
      }
    }
    .item.white {
      background-color: white;
    }
  }

  .bound-details {
    display: block;
    width: 100%;
    .bound-detail {
      display: flex;
      align-items: center;
      margin-top: 10px;
      font-size: 14px;
      img {
        transform: rotate(90deg);
        width: 25px;
        margin-right: 20px;
      }
    }
  }

  .order_note {
    color: gray;
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
  }

  .order-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    .remove {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: $darkGray;
    }

    .price {
      display: flex;
      align-items: center;
      color: $primary;

      .value {
        font-weight: 300;
        font-size: 24px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .order-item {
    .title {
      font-size: 14px;
    }
    .description .item {
      font-size: 12px;
      min-width: 30px;
      height: 30px;
    }
    .order-options .price .value {
      font-size: 16px;
    }
  }
}
