<div class="grid">
  <div class="col-12">
    <div class="Order__item" *ngFor="let order of this.copies">
      <div class="grid">
        <div class="col-12">


          <div class="Title">
            <div class='Value' *ngFor="let file of order.files">{{file.name}} ({{file.pages}} páginas)</div>
          </div>

          <div class="Description ">
            <div class="Item white">
              <img [src]="order.printType.image" alt="">
            </div>

            <div class="Item">{{order.paperSize.name}}</div>
            <div class="Item">{{order.paperType.description}}</div>
            <div class="Item">{{order.printForm.name}}</div>
            <div class="Item">
              <img [src]=" order.pagesPerSide.image + '_active.png'" alt="">
            </div>
            <div class="Item">
              <img [src]=" order.orientation.image + '_active.png'" alt="">
            </div>
            <div class="Item">{{order.copiesQuantity}} {{order.copiesQuantity == 1 ? 'copia':'copias'}}</div>

            <div class="Item" *ngIf="order.finishType.code !== 'encuadernado'">{{order.finishType.name}}</div>
            <div class="Item" *ngIf="order.finishType.code === 'encuadernado'">
              Encuadernado<br>
              {{order.boundType.name}}
            </div>
          </div>

          <div class="grid">
            <div class="col-12 md:col-12">
              <div class="Bound__details">
                <div class="Bound__detail" *ngIf="order.finishType.code === 'encuadernado'">
                  <img [src]="order.boundColors.anillas.image " alt="">
                  <div class="Text">
                    Anilla: {{order.boundColors.anillas.name}}
                  </div>
                </div>
                <div class="Bound__detail" *ngIf="order.finishType.code === 'encuadernado'">
                  <img [src]="order.boundColors.delantera.image " alt="">
                  <div class="Text">
                    Tapa delantera: {{order.boundColors.delantera.name}}
                  </div>

                </div>
                <div class="Bound__detail" *ngIf="order.finishType.code === 'encuadernado'">
                  <img [src]="order.boundColors.trasera.image " alt="">
                  <div class="Text">
                    Tapa trasera: {{order.boundColors.trasera.name}}
                  </div>
                </div>
              </div>
            </div>
            <div class="Order__options col:12 md:col-12">
              <!-- <div class="Edit">
                <i class="fas fa-pencil-alt" (click)="this.editCopy(order)"></i>
              </div> -->
              <div class="Price">
                <div class="Remove">
                  <i class="far fa-trash-alt" (click)="this.removeCopy(order)"></i>
                </div>
                <div class='Value'>{{(this.copiesPrice[order.id] || 0).toFixed(2)}}€</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="Order__item" *ngFor="let product of this.products">
      <div class="grid">
        <div class="col-12">
          <div class="Title">
            {{product.product.name}}<br>
            {{product.variation?.attributes[0].option}}

          </div>
          <div class="Description">
            <div class="Item">Unidades: {{product.quantity}}</div>
            <div class="Item">Precio unidad: {{product.product.price}} €</div>

          </div>
          <div class="grid">
            <div class="col-12">
              <div class="Price">
                <div class='Value'>{{this.getProductPrice(product).toFixed(2)}} €</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>