<div class="grid">
  <div class="col-12">
    <div class="Title">
      TU PEDIDO ({{this.copies.length + this.products.length}})
    </div>
    <div class="Shopcart__item" *ngFor="let order of this.copies">
      <div class="grid">
        <div class="col-12">

          <div class="OrderItem" *ngFor="let file of order.files">
            <div class="grid">
              <div class="col-10">
                <div class="Title">
                  <div class='Value'>{{file.name}}</div>
                </div>
                <div class="Info">
                  <div class='Value'>{{file.pages}} páginas</div>
                </div>
              </div>
              <div class="col-2">
                <p-button icon="fas fa-trash" styleClass="p-button-sm"
                  (click)="this.removeFile(order.id, file.id)"></p-button>
              </div>
            </div>
          </div>
          <div class="Description">
            <div class="Item">Tamaño de papel: {{order.paperSize.name}}</div>
            <div class="Item">Tipo de papel: {{order.paperGrammage.name}}</div>
            <div class="Item">Tipo de impresión: {{order.printType.name}}</div>
            <div class="Item">Forma de impresión: {{order.printForm.name}}</div>
            <div class="Item">Páginas por cara: {{order.pagesPerSide.name}}</div>
            <div class="Item">Orientación: {{order.orientation.name}}</div>
            <div class="Item">Tipo de acabado: {{order.finishType.name}}</div>
            <div class="Item" *ngIf="order.finishType.code === 'encuadernado'">Encuadernado: {{order.boundType.name}}
            </div>
            <div class="Item" *ngIf="order.finishType.code === 'encuadernado'">Anillas:
              {{order.boundColors.anillas.name}}
            </div>
            <div class="Item" *ngIf="order.finishType.code === 'encuadernado'">Tapa delantera:
              {{order.boundColors.delantera.name}}
            </div>
            <div class="Item" *ngIf="order.finishType.code === 'encuadernado'">Tapa trasera:
              {{order.boundColors.trasera.name}}
            </div>
            <div class="Item">Copias: {{order.copiesQuantity}}</div>
          </div>
          <div class="Price">
            <div class='Value'>{{this.getCopyPrice(order).toFixed(2)}} €</div>
          </div>

          <div class="Buttons">
            <p-button label="Eliminar" styleClass="p-button-sm" (click)="this.removeCopy(order)"></p-button>
          </div>
        </div>
      </div>
    </div>

    <div class="Shopcart__item" *ngFor="let product of this.products">
      <div class="grid">
        <div class="col-12">
          <div class="OrderItem">
            <div class="Title">
              {{product.product.name}}
            </div>
          </div>
          <div class="Description">
            <div class="Item">Unidades: {{product.quantity}}</div>
            <div class="Item">Precio unidad: {{product.product.price}} €</div>

          </div>
          <div class="Price">
            <div class='Value'>{{this.getProductPrice(product).toFixed(2)}} €</div>
          </div>

          <div class="Buttons">
            <p-button label="Eliminar" styleClass="p-button-sm" (click)="this.removeProduct(product)"></p-button>
          </div>
        </div>
      </div>
    </div>

    <div class="Subtotal__Price">
      Subotal: {{this.getTotalPrice().toFixed(2)}} €
    </div>
  </div>
</div>