@import "src/assets/scss/colors";

.Title {
  font-size: 20px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 10px;
}

.Order__item {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;

  background-color: white;
  width: 100%;
  margin-bottom: 10px;

  .Title {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .OrderItem {
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .Key {
    font-weight: bold;
    display: inline;
  }
  .Value {
    display: inline;
  }

  .Price {
    color: $primary;
    display: flex;
    align-items: end;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    height: 100%;
    .Value {
      font-weight: 500;
      font-size: 20px;
      width: 100%;
    }
  }

  .Bound__details {
    display: block;
    width: 100%;
  }

  .Description {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }

  .Description .Item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    background-color: $darkGray;
    color: white;
    font-size: 14px;
    min-width: 50px;
    height: 40px;
    box-sizing: border-box;
  }

  .Description .Item img {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .Bound__details {
    .Bound__detail {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: 10px;
      font-size: 14px;
      .Text {
        font-weight: 500;
        height: auto;
      }
      img {
        display: inline-block;
        transform: rotate(90deg);
        background-position: center;
        width: 25px;
        margin-right: 20px;
      }
    }
  }
}

.Buttons {
  text-align: right;
}

.Subtotal__Price {
  text-align: right;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
