<div id="print-wrapper" class="grid p-0 m-0">
  <div id="form-column" class="col-12 lg:col-5">
    <div id="form">
      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tamaño</div>
          <app-select-button
            [options]="cartelesOptions.paperSize"
            (emitChange)="getProperty('paperSize', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field" *ngIf="isCustomSize()">
        <div class="p-fluid">
          <div class="Label">Tamaño personalizado</div>
          <app-input-flyers-custom-size
            (emitChange)="getPrintForm($event)"
          ></app-input-flyers-custom-size>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Categoría de papel</div>
          <app-select-button
            #paperCategorySelector
            [options]="cartelesOptions.paperCategory"
            (emitChange)="
              getProperty('paperCategory', $event);
              onPaperCategoryChange($event)
            "
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Gramaje</div>
          <app-select-button
            #paperTypeSelector
            [options]="paperTypeOptions"
            (emitChange)="getProperty('paperType', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Cantidad</div>
          <app-select-button
            [options]="cartelesOptions.copiesQuantity"
            (emitChange)="getProperty('copiesQuantity', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Comentarios adicionales</div>
          <app-additional-comment
            (emitChange)="getProperty('additionalComments', $event)"
          ></app-additional-comment>
        </div>
      </div>
    </div>
  </div>

  <div id="other-column" class="col-12 lg:col-7">
    <div class="grid p-0 m-0">
      <div id="upload-column" class="col-12 lg:col-12 xl:col-6">
        <div id="upload">
          <app-uploader
            #uploader
            *ngIf="!ready"
            (emitChange)="getFile($event)"
            [multiple]="false"
          ></app-uploader>
        </div>

        <div class="grid" id="files">
          <div
            *ngFor="let file of order.files || []"
            class="col-offset-3 col-6 lg:col-10 lg:col-offset-1"
          >
            <div class="uploaded-file">
              <div class="titulo">
                {{ file.name }}
              </div>
              <img src="{{ file.image }}" alt="" />
              <p>{{ file.pages }} páginas</p>
              <div class="flex justify-content-right">
                <button
                  pButton
                  class="Secondary pink no-padding"
                  label="Eliminar"
                  (click)="removeFile(file.id)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="print-guide-column" class="col-12 lg:col-6 hidden lg:block">
        <div id="print-guide"></div>
      </div>
    </div>
  </div>

  <div id="print-guide-column-sm" class="col-12 lg:hidden">
    <div id="print-guide">
      <app-print-guide
        [width]="85"
        [height]="55"
        *ngIf="!!!ready"
      ></app-print-guide>
    </div>
  </div>

  <app-confirm-bar
    *ngIf="ready"
    [reset]="reset"
    [(order)]="order"
  ></app-confirm-bar>
</div>
