@import "src/assets/scss/colors.scss";

.Pills {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  scrollbar-width: none; // Oculta la scrollbar en Firefox
  -ms-overflow-style: none; // Oculta la scrollbar en IE 10+

  &::-webkit-scrollbar {
    display: none; // Oculta la scrollbar en Chrome, Safari y Opera
  }
  .Pill {
    border-radius: 5px;
    color: #555;
    background-color: #dcdcdc;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;

    &.active {
      color: white;
      background-color: $primary;
    }
  }
}
