<h3>Tramitar pedido</h3>
<div id="process-order" class="iriscopy-box padding-sm">
  <div id="Shipping">
    <div class="Title">Envío / Recogida</div>
    <div class="Option p-field-radiobutton">
      <p-radioButton
        value="Shipping"
        [(ngModel)]="deliver"
        inputId="shipping"
        (onClick)="this.handleDeliveryMethodChange()"
      ></p-radioButton>
      <label for="shipping"> Envío en 48 horas </label>
      <span class="Extra"> {{ this.getGastosDeEnvio().toFixed(2) }}€ </span>
    </div>
    <div class="Option p-field-radiobutton">
      <p-radioButton
        value="Pickup"
        [(ngModel)]="deliver"
        inputId="pickup"
        (onClick)="this.handleDeliveryMethodChange()"
      ></p-radioButton>
      <label for="pickup"> Recogida en local</label>
      <span class="Extra"> Gratuita</span>
    </div>

    <div class="p-fluid">
      <p-dropdown
        *ngIf="this.deliver === 'Pickup'"
        [options]="locations"
        [(ngModel)]="selectedLocation"
        optionLabel="name"
        [showClear]="true"
        placeholder="Local de recogida"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="location-item location-item-value"
            *ngIf="selectedLocation"
          >
            <div>{{ selectedLocation.name }}</div>
          </div>
        </ng-template>
        <ng-template let-location pTemplate="item">
          <div class="Location">
            <div class="Name">{{ location.name }}</div>
            <div class="Address">{{ location.address_1 }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>

  <div id="Payment_methods">
    <div class="Title">Método de pago</div>
    <div class="Option p-field-radiobutton">
      <p-radioButton value="CARD" [(ngModel)]="payment" inputId="card">
      </p-radioButton>
      <label class="Payment__type" for="card">Tarjeta de crédito/débito</label>
      <label class="Payment__type_minimum" for="card">
        (Pedido mínimo {{ PAYMENT_MINIMUM_PRICE_CARD }}€)
      </label>
      <img
        class="Payment_method__img"
        src="assets/images/payment_methods/visa.png"
        alt=""
      />
      <img
        class="Payment_method__img"
        src="assets/images/payment_methods/mastercard.png"
        alt=""
      />
      <img
        class="Payment_method__img"
        src="assets/images/payment_methods/amex.png"
        alt=""
      />
      <img
        class="Payment_method__img"
        src="assets/images/payment_methods/discover.png"
        alt=""
      />
      <img
        class="Payment_method__img"
        src="assets/images/payment_methods/ucb.png"
        alt=""
      />
      <img
        class="Payment_method__img"
        src="assets/images/payment_methods/diners.png"
        alt=""
      />
    </div>
    <div class="Option p-field-radiobutton">
      <p-radioButton
        value="BIZUM"
        [(ngModel)]="payment"
        inputId="bizum"
      ></p-radioButton>
      <label class="Payment__type" for="bizum">BIZUM</label>
      <label class="Payment__type_minimum" for="bizum"
        >(Pedido mínimo {{ PAYMENT_MINIMUM_PRICE_BIZUM }}€)</label
      >
      <img
        class="Payment_method__img"
        src="assets/images/payment_methods/bizum.png"
        alt=""
      />
    </div>
  </div>

  <div id="Terms">
    <p>
      <p-checkbox
        name="groupname"
        value="val1"
        [(ngModel)]="this.termsAccepted"
      ></p-checkbox>
      He leído y acepto la
      <a href="https://iriscopyshop.com/politica-de-privacidad/" target="_blank"
        >política de privacidad</a
      >
      y los <a href="/terms" target="_blank">términos y condiciones</a> de la
      web.<span class="Mandatory">*</span>
    </p>
  </div>

  <div id="Promotional" class="grid" *ngIf="!!!this.coupon">
    <div class="col-12"></div>
    <div class="col-12 sm:col-8">
      <div class="p-fluid">
        <input
          pInputText
          class="p-inputtext-sm"
          type="text"
          [(ngModel)]="this.inputCoupon"
          placeholder="¿Tienes un código promocional?"
        />
      </div>
    </div>
    <div class="Buttons col-12 sm:col-4">
      <button
        pButton
        class="p-button Secondary p-button-sm pink low-padding"
        (click)="this.getCoupon()"
        [disabled]="this.searching_coupon"
      >
        {{ this.apply_cupon_text }}
      </button>
    </div>
  </div>

  <div class="grid">
    <div class="col-12">
      <div class="Cost Subtotal">
        <div class="Title">Subtotal</div>
        <div class="Amount">{{ this.subtotal.toFixed(2) }} €</div>
      </div>
      <div class="Cost Shipping" *ngIf="this.deliver === 'Shipping'">
        <div class="Title">Envío</div>
        <div class="Amount">{{ this.getGastosDeEnvio().toFixed(2) }} €</div>
      </div>
      <div class="Cost Discount" *ngIf="this.coupon">
        <div class="Title">
          Descuento ({{ this.coupon.code }})
          <i class="far fa-trash-alt" (click)="this.removeCoupon()"></i>
        </div>
        <div class="Amount">-{{ this.discount.toFixed(2) }} €</div>
      </div>
      <div class="Cost Total">
        <div class="Title">Total</div>
        <div class="Amount">{{ this.total.toFixed(2) }} €</div>
      </div>
    </div>
  </div>

  <div id="confirm-order">
    <button pButton (click)="validate()" class="Secondary">
      Realizar el pedido
    </button>
    <form
      #redsysForm
      *ngIf="this.redsysData"
      [action]="'https://sis.redsys.es/sis/realizarPago'"
      method="POST"
    >
      <input
        type="hidden"
        name="Ds_SignatureVersion"
        [(ngModel)]="this.redsysData.Ds_SignatureVersion"
      />
      <input
        type="hidden"
        name="Ds_MerchantParameters"
        [(ngModel)]="this.redsysData.Ds_MerchantParameters"
      />
      <input
        type="hidden"
        name="Ds_Signature"
        [(ngModel)]="this.redsysData.Ds_Signature"
      />
      <input type="hidden" name="Order_ID" [(ngModel)]="this.OrderID" />
    </form>
  </div>
</div>
