@import "src/assets/scss/colors";

.Information {
  justify-content: center;
  color: black;
  font-weight: 500;
}

.links {
  margin-top: 60px;
  text-align: center;
  .link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-right: 15px;
  }
}
