<div class="grid m-0 p-0">
  <div class="col-12 sm:col-6 sm:col-offset-3">
    <div class="iriscopy-box mt-6">
      <h3>Pedido cancelado</h3>

      <p class="Information">
        Su pedido ha sido cancelado ya que el pago no se ha efectuado. Su pedido
        sigue disponible en el carro de la compra.
      </p>
      <div class="links">
        <a class="link" href="">Volver al inicio</a>
        <a class="link" href="/payment">Realizar pedido de nuevo</a>
      </div>
    </div>
  </div>
</div>
