<div id="Uploader" class="grid">
  <div class="col-12">
    <p *ngIf="uploadedFiles.length === 0">Sube aquí tus documentos</p>
  </div>
</div>

<div class="sm:col-6 md:col-4" *ngFor="let file of (uploadedFiles || [])">
  <div class="p-fluid">
    <p-card [header]="file.name" [subheader]="file.size  + ' bytes. ' + file.pages + ' páginas'"
      [style]="{ padding: '25px'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/images/pdf.png">
      </ng-template>
      <ng-template pTemplate="body">
        <button pButton label="Eliminar" (click)="this.removeFile(file.id)"></button>
      </ng-template>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <p-fileUpload *ngIf="uploadedFiles.length === 0" mode="basic" name="file[]" (onSelect)="onUpload($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
        text/plain, application/pdf" maxFileSize="1000000" uploadLabel="Confirmar y subir"
      chooseLabel="Seleccionar archivo..." cancelLabel="Cancelar" multiple="multiple">

    </p-fileUpload>
  </div>
</div>
