<div class="grid p-0 m-0">
  <div class="col-12">
    <div id="uploader">
      <p>
        Sube aquí los documentos<br />
        que deseas imprimir
      </p>
      <p-fileUpload
        #fileUpload
        mode="basic"
        name="file[]"
        (onSelect)="onUpload($event, fileUpload)"
        accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
      text/plain, application/pdf"
        maxFileSize="52428800"
        uploadLabel="Confirmar y subir"
        [className]="'UploadButton'"
        [chooseLabel]="
          this.uploadedFiles.length === 0
            ? 'Subir documentos'
            : 'Subir otro documento'
        "
        [chooseIcon]="'fas'"
        cancelLabel="Cancelar"
        multiple="multiple"
        [auto]="true"
      >
      </p-fileUpload>
    </div>
  </div>
</div>
