@import "src/assets/scss/colors.scss";

.ProductDetails {
  .Details {
    padding-left: 30px;
    height: auto;
    align-content: center;

    .Options {
      margin-bottom: 15px;
      .Name {
        color: $primary;
      }
    }
  }
  .Price {
    color: $primary;
  }

  .Name {
    display: block;
    font-weight: bold;
    font-size: 14px;
    min-height: 60px;
  }
  .Image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
  }
}
