<div class="col-12 ProductDetails">
    <div class="grid">
        <div class="col-offset-3 col-6 md:col-3 md:col-offset-0">
            <div class="Image" [style]="{'background-image': 'url(' +this.picture+ ')'}"></div>
        </div>

        <div class="col-12 md:col-9 Details">
            <div class="grid Options" *ngIf="this.product.attributes.length">
                <div class="col-9 md:col-8 md:col-offset-4">
                    <span class="Title">
                        Opciones disponibles
                    </span>
                    <div class="grid">
                        <div class='col-12' *ngIf="this.selectedVariation">
                            <span class="Option__selected">

                                {{this.selectedVariation.attributes[0].option}}
                            </span>
                        </div>
                        <div class="col-4 md:col-2" *ngFor="let variation of variations">
                            <div
                                [class]="'Variation__wrapper' + (this.selectedVariation && this.selectedVariation.id == variation.id ? ' active' : '')">
                                <div class="Variation" [style]="{'background-image': 'url(' +variation.image.src+ ')'}"
                                    (click)="this.selectVariation(variation)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="p-fluid">
                        <p-dropdown [options]="product.attributes[0].options" [(ngModel)]="selectedAttribute"
                            class="p-inputtext-sm" appendTo="body" placeholder="Selecciona una opción"
                            (onChange)="this.findVariation()"></p-dropdown>

                    </div> -->

                </div>
            </div>

            <div class="grid">

                <div class="Price col-3 md:col-4">
                    <div *ngIf="this.product.attributes.length > 0 && this.selectedVariation">
                        {{(+this.selectedVariation.price).toFixed(2)}}€
                    </div>

                    <div
                        *ngIf="this.product.attributes.length == 0 || (this.product.attributes.length > 0 && this.product.variations.length == 0 && selectedAttribute)">
                        {{(+this.product.price).toFixed(2)}}€
                    </div>
                </div>
                <div class="col-9 md:col-4">
                    <div class="p-fluid">
                        <input pInputText type="number" class="p-inputtext-sm" [(ngModel)]="this.quantity">
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="p-fluid">
                        <button pButton class="addToCart p-button p-button-sm" [icon]="'fas fa-shopping-cart'"
                            [label]="'Añadir al carro'" (click)="this.addToCart()"
                            [disabled]="!this.quantity || this. buttonDisabled()"></button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>