<div class="grid m-0 p-0">
  <div class="col-12 md:col-6 md:col-offset-3">
    <div id="reset-password" class="iriscopy-box mt-8">
      <h2>Reestablecer contraseña</h2>

      <form>
        <div class="field">
          <label for="email">Nueva contraseña</label>

          <input
            name="email"
            [(ngModel)]="this.password"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            pInputText
            type="password"
          />
          <small *ngIf="this.errors.password">
            {{ this.errors.password }}
          </small>
        </div>
        <div class="field">
          <label for="email">Confirmar contraseña</label>

          <input
            name="email"
            [(ngModel)]="this.confirm"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            pInputText
            type="password"
          />
          <small *ngIf="this.errors.confirm">
            {{ this.errors.confirm }}
          </small>
        </div>

        <div class="field">
          <button
            type="submit"
            pButton
            label="Acceder"
            class="p-button-sm Secondary"
            (click)="this.validate()"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
