<div id="mobile-menu" class="sm:hidden">
  <ul>
    <li class="link">
      <a href="https://iriscopyshop.com">Inicio</a>
    </li>
    <li class="link">
      <a routerLink="/print" (click)="redirectTo('/print')">Imprimir</a>
    </li>
    <li class="link">
      <a routerLink="/shop" (click)="redirectTo('/shop')">Papelería</a>
    </li>
    <li class="link" (click)="togglePickUpPoints()">
      <a>
        Puntos de recogida <i class="chevron-down fas fa-chevron-down"></i>
      </a>
    </li>
    <ul
      id="pickup-points"
      [className]="pickUpPointsOpened ? 'opened' : 'closed'"
    >
      <li class="sublink">
        <a href="https://iriscopyshop.com/copisteria-sevilla">
          <i class="chevron-right fas fa-chevron-right"></i>
          Copisterías en Sevilla
        </a>
      </li>

      <li class="sublink">
        <a href="https://iriscopyshop.com/copisteria-etsi">
          <i class="chevron-right fas fa-chevron-right"></i>
          Copistería ETSI
        </a>
      </li>

      <li class="sublink">
        <a href="https://iriscopyshop.com/copisteria-sevilla-centro">
          <i class="chevron-right fas fa-chevron-right"></i>
          Copistería Sevilla centro
        </a>
      </li>

      <li class="sublink">
        <a href="https://iriscopyshop.com/copisteria-fcom">
          <i class="chevron-right fas fa-chevron-right"></i>
          Copistería FCOM
        </a>
      </li>

      <li class="sublink">
        <a href="https://iriscopyshop.com/copisteria-mairena-aljarafe">
          <i class="chevron-right fas fa-chevron-right"></i>
          Copistería Mairena del Aljarafe
        </a>
      </li>

      <li class="sublink">
        <a href="https://iriscopyshop.com/copisteria-viapol">
          <i class="chevron-right fas fa-chevron-right"></i>
          Copistería Viapol
        </a>
      </li>

      <li class="sublink">
        <a href="https://iriscopyshop.com/copisteria-reina-mercedes">
          <i class="chevron-right fas fa-chevron-right"></i>
          Copistería Reina Mercedes
        </a>
      </li>
    </ul>

    <li class="link">
      <a href="https://iriscopyshop.com/encuadernar/"> Encuadernar apuntes </a>
    </li>
    <li class="link">
      <a (click)="togglePrintOptions()">
        Imprenta <i class="collapse-icon fas fa-chevron-down"></i>
      </a>
    </li>
    <ul
      id="print-options"
      [className]="printOptionsOpened ? 'opened' : 'closed'"
    >
      <li class="sublink">
        <a
          routerLink="/imprenta/tarjetas-visita"
          (click)="redirectTo('/imprenta/tarjetas-visita')"
        >
          <i class="chevron-right fas fa-chevron-right"></i>
          Tarjetas de visita
        </a>
      </li>

      <li class="sublink">
        <a
          routerLink="/imprenta/flyers"
          (click)="redirectTo('/imprenta/flyers')"
        >
          <i class="chevron-right fas fa-chevron-right"></i>
          Flyers
        </a>
      </li>
      <li class="sublink">
        <a
          routerLink="/imprenta/carpetas"
          (click)="redirectTo('/imprenta/carpetas')"
        >
          <i class="chevron-right fas fa-chevron-right"></i>
          Carpetas
        </a>
      </li>
      <!-- <li class="sublink">
        <a href="/imprenta/revistas">
          <i class="chevron-right fas fa-chevron-right"></i>
          Revistas
        </a>
      </li>
      <li class="sublink">
        <a href="/imprenta/rollups">
          <i class="chevron-right fas fa-chevron-right"></i>
          Rollups
        </a>
      </li>
      <li class="sublink">
        <a href="/imprenta/carteles">
          <i class="chevron-right fas fa-chevron-right"></i>
          Carteles
        </a>
      </li> -->
      <li class="sublink">
        <a
          routerLink="/imprenta/dipticos"
          (click)="redirectTo('/imprenta/dipticos')"
        >
          <i class="chevron-right fas fa-chevron-right"></i>
          Dípticos
        </a>
      </li>
      <li class="sublink">
        <a
          routerLink="/imprenta/tripticos"
          (click)="redirectTo('/imprenta/tripticos')"
        >
          <i class="chevron-right fas fa-chevron-right"></i>
          Trípticos
        </a>
      </li>
    </ul>
    <li class="link">
      <a href="https://iriscopyshop.com/preguntas-frecuentes">
        Preguntas frecuentes
      </a>
    </li>
  </ul>
</div>
