<div class="grid p-0 m-0" *ngIf="this.firstLogin">
  <div class="col-12">
    <router-outlet></router-outlet>
    <h2>¡Registro realizado!</h2>
    <p>
      Puedes rellenar ahora tus datos de envío para futuros pedidos y ahorrar
      tiempo. Si ahora no quieres hacerlo no te preocupes, puedes rellenarlos
      más adelante.
    </p>
  </div>
</div>
<div class="grid p-0 m-0">
  <div class="col-12 md:col-6">
    <div class="grid">
      <div class="col-12">
        <h3>Datos de envío</h3>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <app-shipping #shipping></app-shipping>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <button
          pButton
          [label]="'Guardar datos de envío'"
          class="p-button-sm Secondary"
          (click)="this.manageShipping()"
        ></button>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="grid">
      <div class="col-12">
        <h3>Datos de facturación</h3>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <app-billing #billing [shipping]="true"></app-billing>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <button
          pButton
          [label]="'Guardar datos de facturación'"
          class="p-button-sm Secondary"
          (click)="this.manageBilling()"
        ></button>
      </div>
    </div>
  </div>
</div>
