<div class="grid">
  <div class="col-12 md:col-6">
    <p-card>
      <h2>¿Olvidaste la contraseña?</h2>
      <p>
        Introduce tu correo electrónico y te enviaremos un email para
        reestablecer tu contraseña
      </p>

      <form>
        <div class="field">
          <label for="email">Correo electrónico</label>

          <input
            name="email"
            [(ngModel)]="this.email"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            pInputText
            type="text"
          />
        </div>

        <div class="field">
          <button
            type="submit"
            pButton
            label="Acceder"
            class="p-button-sm"
            (click)="this.reset()"
          ></button>
        </div>
      </form>
    </p-card>
  </div>
</div>
