<div class="Product shadow-3">
    <div class="grid">

        <div class="col-12">
            <div class="grid">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="Image" [style]="{'background-image': 'url(' +product.images[0]?.src+ ')'}"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <span class="Name">
                {{product.name}}
            </span>
        </div>
        <div class="col-6">
            {{(+product.price).toFixed(2)}}€
        </div>
        <div class="col-3">
            <div class="p-fluid">
                <input pInputText type="number" class="p-inputtext-sm" [(ngModel)]="this.quantity">
            </div>
        </div>
        <div class="col-3">
            <button pButton class="p-button-sm" [icon]="'fas fa-shopping-cart'" (click)="this.addToCart()"
                [disabled]="this.quantity == 0"></button>
        </div>
    </div>
</div>