html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contain {
  display: flex; /* lo convertimos en flex‐container */
  flex-direction: column; /* columnas: primero router‐outlet, luego p-toast */
  flex: 1 1 auto; /* ocupa todo el hueco entre header y footer */
  min-height: 0; /* para que sus hijos puedan usar % de altura */
}
