html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hacer que el componente raíz ocupe toda la pantalla */
}

.contain {
  flex: 1; /* Hacer que esta sección ocupe el espacio restante */
}
