html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex-shrink: 0;
}

.main-content {
  padding: 0px 30px;
  flex: 1;
}

/* Media Query para pantallas de móviles */
@media (max-width: 768px) {
  .main-content {
    padding: 0px 5px;
  }
}
