<div class="grid">
  <div class="col-12 md:col-12">
    <app-menu></app-menu>
  </div>
  <div class="col-12 md:col-4">
    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label>Tamaño del papel</label>
        <app-paper-size></app-paper-size>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label>Gramaje del papel</label>
        <app-paper-grammage></app-paper-grammage>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label>Tipo de impresión</label>
        <app-print-type></app-print-type>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label>Forma de impresión</label>
        <app-print-form></app-print-form>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label>Páginas por cara</label>
        <app-pages-per-side></app-pages-per-side>
      </div>
    </div>


    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label>Orientación</label>
        <app-orientation></app-orientation>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label>Tipo de acabado</label>
        <app-finish-type></app-finish-type>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-8">
    <app-uploader></app-uploader>
  </div>
</div>
