<div class="grid">
  <div class="col-12 sm:col-12 md:col-5 lg:col-4">
    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Tamaño del papel</label>
        <app-paper-size (emitChange)="getPaperSize($event)"></app-paper-size>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Tipo de papel</label>
        <app-paper-grammage (emitChange)="getPaperGrammage($event)"></app-paper-grammage>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Tipo de impresión</label>
        <app-print-type (emitChange)="getPrintType($event)"></app-print-type>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Forma de impresión</label>
        <app-print-form (emitChange)="getPrintForm($event)"></app-print-form>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Páginas por cara</label>
        <app-pages-per-side (emitChange)="getPagesPerSide($event)"></app-pages-per-side>
      </div>
    </div>


    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Orientación</label>
        <app-orientation (emitChange)="getOrientation($event)"></app-orientation>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Tipo de acabado</label>
        <app-finish-type (emitChange)="getFinishType($event)"></app-finish-type>
      </div>
    </div>
    <div class="Form__Section p-field" *ngIf="this.finishType && this.finishType.code === 'encuadernado'">
      <div class="p-fluid">
        <label class="Label">Encuadernar los documentos</label>
        <app-bound (emitChangeBound)="getBound($event)" [boundType]="this.boundType" [boundColors]="this.boundColors">
        </app-bound>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Cantidad de copias</label>
        <app-quantity-copies (emitChange)="getCopiesQuantity($event)"></app-quantity-copies>
      </div>
    </div>

    <div class="Form__Section p-field">
      <div class="p-fluid">
        <label class="Label">Comentarios adicionales</label>
        <app-additional-comment (emitChange)="getAdditionalComments($event)"></app-additional-comment>
      </div>
    </div>
  </div>


  <div class="col-12 sm:col-12 md:col-7 lg:col-8">
    <app-uploader #uploader (emitChange)="getFile($event)"></app-uploader>
  </div>

  <app-confirm-bar *ngIf="this.isReady()" [reset]="this.reset.bind(this)" [(order)]="this.order"></app-confirm-bar>
  <p-toast></p-toast>
</div>
