@use "src/assets/scss/colors.scss" as colors;

// Estilos para enlaces

#payment {
  padding: 20px;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#customer-info #button-login {
  font-weight: 500;
  text-align: left;

  span {
    font-weight: bold;
  }

  margin-bottom: 30px;
}

#shipping-forms {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #payment {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
