input,
textarea {
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 15px;
}

.input-container {
  position: relative;
}

.custom-placeholder,
.custom-textarea {
  position: absolute;
  top: 20px;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  font-weight: 500;
}
