<form>
  <div class="grid m-0 p-0">
    <div class="col-12">
      <h3>Cambiar contraseña</h3>
    </div>
    <div class="col-4">
      <div class="grid">
        <div class="col-12 field">
          <label for="">Nueva contraseña</label>
          <input
            name="password"
            [(ngModel)]="this.password"
            pInputText
            class="w-full"
            type="password"
          />
          <small *ngIf="this.errors.password">
            {{ this.errors.password }}
          </small>
        </div>

        <div class="col-12 field">
          <label for="">Confirmar contraseña</label>
          <input
            name="confirm"
            [(ngModel)]="this.confirm"
            pInputText
            class="w-full"
            type="password"
          />
          <small *ngIf="this.errors.confirm">
            {{ this.errors.confirm }}
          </small>
        </div>
        <div class="col-12 field">
          <button
            pButton
            class="p-button-sm Secondary"
            (click)="this.validate()"
            [disabled]="this.updating"
            [label]="this.textButton"
          ></button>
        </div>
      </div>
    </div>
  </div>
</form>
