<div id="print-wrapper" class="grid p-0 m-0">
  <div id="form-column" class="col-12 lg:col-5">
    <h2>Revistas</h2>
    <div id="form">
      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Categoría papel portada / contraportada</div>
          <app-select-button
            #coverPaperCategorySelector
            [options]="revistasOptions.cover_paperCategory"
            (emitChange)="
              getProperty('cover_paperCategory', $event);
              onCoverPaperCategoryChange($event)
            "
          ></app-select-button>
        </div>
      </div>
      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Gramaje portada / contraportada</div>
          <app-select-button
            #coverPaperTypeSelector
            [options]="coverPaperTypeOptions"
            (emitChange)="getProperty('cover_paperType', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Acabado de la portada</div>
          <app-select-button
            #coverFinishSelector
            [options]="revistasOptions.finishType"
            (emitChange)="getProperty('finishType', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Categoría papel interior</div>
          <app-select-button
            #innerPaperCategorySelector
            [options]="revistasOptions.inner_paperCategory"
            (emitChange)="
              getProperty('inner_paperCategory', $event);
              onInnerPaperCategoryChange($event)
            "
          ></app-select-button>
        </div>
      </div>
      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Gramaje interior</div>
          <app-select-button
            #innerPaperTypeSelector
            [options]="innerPaperTypeOptions"
            (emitChange)="getProperty('inner_paperType', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Formato</div>
          <app-select-button
            #formatSelector
            [options]="revistasOptions.format"
            (emitChange)="getProperty('format', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Tamaño (cerrado)</div>
          <app-select-button
            #paperSizeSelector
            *ngIf="order.format?.code === 'vertical'"
            [options]="revistasOptions.vertical_size"
            (emitChange)="getProperty('paperSize', $event)"
          ></app-select-button>
          <app-select-button
            #paperSizeSelector
            *ngIf="order.format?.code === 'horizontal'"
            [options]="revistasOptions.horizontal_size"
            (emitChange)="getProperty('paperSize', $event)"
          ></app-select-button>

          <app-select-button
            #paperSizeSelector
            *ngIf="order.format?.code === 'cuadrado'"
            [options]="revistasOptions.square_size"
            (emitChange)="getProperty('paperSize', $event)"
          ></app-select-button>
        </div>
      </div>

      <div class="Form__Section p-field">
        <div class="p-fluid">
          <div class="Label">Copias</div>
          <app-select-button
            [options]="revistasOptions.copiesQuantity"
            (emitChange)="getProperty('copiesQuantity', $event)"
          ></app-select-button>
        </div>

        <div class="Form__Section p-field">
          <div class="p-fluid">
            <div class="Label">Comentarios adicionales</div>
            <app-additional-comment
              (emitChange)="getProperty('additionalComments', $event)"
            ></app-additional-comment>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="other-column" class="col-12 lg:col-7">
    <div class="grid p-0 m-0">
      <div id="upload-column" class="col-12 lg:col-12 xl:col-6">
        <div id="upload">
          <app-uploader
            #uploader
            *ngIf="!ready"
            (emitChange)="getFile($event)"
            [multiple]="false"
          ></app-uploader>
        </div>

        <div class="grid" id="files">
          <div
            *ngFor="let file of order.files || []"
            class="col-offset-3 col-6 lg:col-10 lg:col-offset-1"
          >
            <div class="uploaded-file">
              <div class="titulo">
                {{ file.name }}
              </div>
              <img src="{{ file.image }}" alt="" />
              <p>{{ file.pages }} páginas</p>
              <div class="flex justify-content-right">
                <button
                  pButton
                  class="Secondary pink no-padding"
                  label="Eliminar"
                  (click)="removeFile(file.id)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="print-guide-column" class="col-12 lg:col-6 hidden lg:block">
        <div id="print-guide">
          <app-print-guide
            [width]="this.order.paperSize?.width"
            [height]="this.order.paperSize?.height"
            *ngIf="
              !!!ready &&
              this.order.paperSize?.width &&
              this.order.paperSize?.height
            "
          ></app-print-guide>
        </div>
      </div>
    </div>
  </div>

  <div id="print-guide-column-sm" class="col-12 lg:hidden">
    <div id="print-guide">
      <app-print-guide
        [width]="this.order.paperSize?.width"
        [height]="this.order.paperSize?.height"
        *ngIf="
          !!!ready &&
          this.order.paperSize?.width &&
          this.order.paperSize?.height
        "
      ></app-print-guide>
    </div>
  </div>

  <app-confirm-bar
    [addToCartFn]="addToCartFn"
    [getPrecio]="getPrice"
    *ngIf="ready"
    [reset]="reset"
    [(order)]="order"
  ></app-confirm-bar>
</div>
