<div class="grid m-0 p-0">
  <div class="col-12">
    <h3>Tus pedidos</h3>
  </div>

  <div class="col-12">
    <p-table [value]="this.orders" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Método de pago</th>
          <th>Estado</th>
          <th>Elementos</th>
          <th>Precio</th>
          <th>Ver detalles</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ moment(order.date_created).format("DD/MM/YYYY HH:mm") }}</td>
          <td>{{ order.payment_method_title }}</td>
          <td>{{ getStatusName(order.status) }}</td>
          <td>{{ order.line_items.length }}</td>
          <td>{{ order.total }} €</td>
          <td><a (click)="this.showDetails(order)">Detalles</a></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
