<p-sidebar [(visible)]="display" [position]="'right'">
  <div class="Title">
    Tus productos ({{this.orders.length}})
  </div>

  <div class="Shopcart__item" *ngFor="let order of this.orders">
    <div class="File" *ngFor="let file of order.files">
      <div class="Title">
        <div class='Value'>{{file.name}}</div>
      </div>
      <div class="Info">
        <div class='Value'>{{file.pages}} páginas</div>
      </div>
    </div>
    <div class="Description">
      <div class="Item">Tamaño de papel: {{order.paperSize.name}}</div>
      <div class="Item">Tipo de papel: {{order.paperGrammage.name}}</div>
      <div class="Item">Tipo de impresión: {{order.printType.name}}</div>
      <div class="Item">Forma de impresión: {{order.printForm.name}}</div>
      <div class="Item">Páginas por cara: {{order.pagesPerSide.name}}</div>
      <div class="Item">Orientación: {{order.orientation.name}}</div>
      <div class="Item">Tipo de acabado: {{order.finishType.name}}</div>
      <div *ngIf="order.finishType.code === 'encuadernado'" class="Item">Encuadernado: {{order.boundType.name}}</div>
      <div *ngIf="order.finishType.code === 'encuadernado'" class="Item">Anillas: {{order.boundColors.anillas.name}}
      </div>
      <div *ngIf="order.finishType.code === 'encuadernado'" class="Item">Tapa delantera
        : {{order.boundColors.delantera.name}}
      </div>
      <div *ngIf="order.finishType.code === 'encuadernado'" class="Item">Tapa trasera:
        {{order.boundColors.trasera.name}}
      </div>

      <div class="Item">Copias {{order.copiesQuantity}}</div>
    </div>
    <div class="Price">
      <div class='Value'>{{this.getPrice(order).toFixed(2)}} €</div>
    </div>

    <div class="Buttons">
      <p-button label="Eliminar" styleClass="p-button-sm" (click)="this.remove(order)"></p-button>
    </div>

  </div>

  <div class="TotalPrice">
    Total: {{this.getTotalPrice().toFixed(2)}} €
  </div>
  <div class="Next">
    <div class="p-fluid">
      <p-button label="Continuar con el pago" styleClass="p-button-sm"></p-button>
    </div>
  </div>
</p-sidebar>
