.tabla-productos {
    td,th {
        text-align: center;
    }

    td.left,th.left {
        text-align: left;
    }
    .producto {

        .imagen {
            width: 100%;
        }
    

    
    }
}