<div class="Shipping">
  <div class="grid">
    <div class="field col-6">
      <div class="p-fluid">
        <label for="first_name" class="block">Nombre y apellidos</label>
        <input [(ngModel)]="this.shippingDetails.first_name" id="first_name" pInputText />
        <small *ngIf="this.shippingDetailsErrors.first_name" id="first_name-help"
          class="p-error">{{this.shippingDetailsErrors.first_name}}</small>
      </div>
    </div>
    <div class="field col-6">
      <div class="p-fluid">
        <label for="last_name" class="block">CIF/ NIF</label>
        <input [(ngModel)]="this.shippingDetails.last_name" id="last_name" pInputText />
        <small *ngIf="this.shippingDetailsErrors.last_name" id="last_name-help"
          class="p-error">{{this.shippingDetailsErrors.last_name}}</small>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="field col-12">
      <div class="p-fluid">
        <label for="responsible" class="block">Responsable (opcional)</label>
        <input [(ngModel)]="this.shippingDetails.responsible" id="responsible" pInputText />
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="field col-12">
      <div class="p-fluid">
        <label for="address_1" class="block">Dirección de la calle</label>
        <input [(ngModel)]="this.shippingDetails.address_1" id="address_1" aria-describedby="address_1-help"
          pInputText />
        <small id="address_1-help">Número de la casa y nombre de la
          calle</small>
        <small *ngIf="this.shippingDetailsErrors.address_1" id="address_1-help"
          class="p-error">{{this.shippingDetailsErrors.address_1}}</small>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="field col-12">
      <div class="p-fluid">
        <input [(ngModel)]="this.shippingDetails.address_2" id="address_2" aria-describedby="address_2-help"
          pInputText />
        <small id="address_2-help">Planta, departamento,
          puerta...</small>
        <small *ngIf="this.shippingDetailsErrors.address_2" id="address_2-help"
          class="p-error">{{this.shippingDetailsErrors.address_2}}</small>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="field col-12">
      <div class="p-fluid">
        <label for="city" class="block">Localidad / Ciudad</label>
        <input [(ngModel)]="this.shippingDetails.city" id="city" aria-describedby="city-help" pInputText />
        <small *ngIf="this.shippingDetailsErrors.city" id="city-help"
          class="p-error">{{this.shippingDetailsErrors.city}}</small>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="field col-12">
      <div class="p-fluid">
        <label for="postcode" class="block">Código postal (opcional)</label>
        <input [(ngModel)]="this.shippingDetails.postcode" id="postcode" aria-describedby="postcode-help" pInputText />
        <small *ngIf="this.shippingDetailsErrors.postcode" id="postcode-help"
        class="p-error">{{this.shippingDetailsErrors.postcode}}</small>
      </div>
    </div>
  </div>
</div>