<div class="Shipping">
  <div class="grid">
    <div class="field col-12 md:col-8">
      <div class="p-fluid">
        <div class="input-container">
          <label for="first_name" class="form-label">
            Nombre y apellidos <span class="mandatory">*</span>
          </label>
          <input
            [(ngModel)]="shippingDetails.first_name"
            id="first_name"
            pInputText
          />
        </div>
        <small
          *ngIf="shippingDetailsErrors.first_name"
          id="first_name-help"
          class="p-error"
          >{{ shippingDetailsErrors.first_name }}</small
        >
      </div>
    </div>
    <div class="field col-12 md:col-4">
      <div class="p-fluid">
        <div class="input-container">
          <label for="last_name" class="form-label">
            DNI/NIE/CIF <span class="mandatory">*</span>
          </label>
          <input
            [(ngModel)]="shippingDetails.last_name"
            id="last_name"
            pInputText
          />
        </div>
        <small
          *ngIf="shippingDetailsErrors.last_name"
          id="last_name-help"
          class="p-error"
          >{{ shippingDetailsErrors.last_name }}</small
        >
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-8">
      <div class="p-fluid">
        <div class="input-container">
          <label for="address_1" class="form-label">
            Dirección de envío <span class="mandatory">*</span> calle y número
          </label>
          <input
            [(ngModel)]="shippingDetails.address_1"
            id="address_1"
            aria-describedby="address_1-help"
            pInputText
          />
        </div>
        <small
          *ngIf="shippingDetailsErrors.address_1"
          id="address_1-help"
          class="p-error"
          >{{ shippingDetailsErrors.address_1 }}</small
        >
      </div>
    </div>

    <div class="field col-12 md:col-4">
      <div class="p-fluid">
        <div class="input-container">
          <label for="" class="form-label"> planta, piso/puerta u otro </label>
          <input
            [(ngModel)]="shippingDetails.address_2"
            id="address_2"
            aria-describedby="address_2-help"
            pInputText
          />
        </div>

        <small
          *ngIf="shippingDetailsErrors.address_2"
          id="address_2-help"
          class="p-error"
          >{{ shippingDetailsErrors.address_2 }}</small
        >
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="field col-12 md:col-8">
      <div class="p-fluid">
        <div class="input-container">
          <label for="" class="form-label">
            Localidad / Ciudad <span class="mandatory">*</span>
          </label>
          <input
            [(ngModel)]="shippingDetails.city"
            id="city"
            aria-describedby="city-help"
            pInputText
          />
        </div>
        <small
          *ngIf="shippingDetailsErrors.city"
          id="city-help"
          class="p-error"
          >{{ shippingDetailsErrors.city }}</small
        >
      </div>
    </div>

    <div class="field col-12 md:col-4">
      <div class="p-fluid">
        <div class="input-container">
          <label for="" class="form-label">
            Código postal <span class="mandatory">*</span>
          </label>
          <input
            (change)="onUpdatePostalCode()"
            [(ngModel)]="shippingDetails.postcode"
            id="postcode"
            aria-describedby="postcode-help"
            pInputText
          />
        </div>

        <small
          *ngIf="shippingDetailsErrors.postcode"
          id="postcode-help"
          class="p-error"
          >{{ shippingDetailsErrors.postcode }}</small
        >
      </div>
    </div>
  </div>
</div>
