<div class="mb-2">
  <p-selectButton
    optionLabel="name"
    [options]="optionsGroup1"
    [(ngModel)]="option"
    (onChange)="onSelect($event)"
  >
    <ng-template let-item pTemplate="item">
      <div class="Button">
        <div class="Button__label">{{ item.name }}</div>
        <div class="Button__description">{{ item.description }}</div>

        <!-- icono con tooltip al hover -->
        <button
          icon="fas fa-info"
          #tooltip
          *ngIf="item.info"
          class="fas fa-info Button__info"
          [pTooltip]="item.info"
          tooltipEvent="focus"
          tooltipPosition="right"
          tooltipAppendTo="body"
          tooltipStyleClass="info-tooltip"
        ></button>
      </div>
    </ng-template>
  </p-selectButton>
</div>

<div>
  <p-selectButton
    [options]="optionsGroup2"
    [(ngModel)]="option"
    optionLabel="name"
    (onChange)="onSelect($event)"
  >
    <ng-template let-item pTemplate="item">
      <div class="Button">
        <div class="Button__label">{{ item.name }}</div>
        <div class="Button__description">{{ item.description }}</div>
      </div>
    </ng-template>
  </p-selectButton>
</div>
