<h3>Condiciones de Compra de la Web de Iris Copy.</h3>
Las presentes Condiciones de contratación se aplican a la venta de todos los productos ofrecidos por Iris Copy a través
de la página web. Dicha venta será a: profesionales, empresas, consumidores, usuarios o cualquier otro destinatario
final, al que se le pueda entregar pedidos dentro de territorio Español.

En lo sucesivo, y a efectos de estas Condiciones Generales de Contratación, la página web accesible a través de la Web
Corporativa de Iris Copy, se denominará Tienda Online.

La utilización por parte del cliente de los servicios de tienda online presuponen, en todo caso, la adhesión a las
Condiciones Generales de Contratación que se presentan en la página principal de la tienda online y en el momento mismo
de la compra. Por ello es conveniente que el cliente lea las condiciones generales antes de proceder a realizar una
compra.

La presentación de un producto en pantalla no constituye en sí una oferta de venta propiamente dicha desde un punto de
vista contractual, sino que aquella es meramente un escaparate de los productos de que dispone la tienda online.

La venta del producto solo estará disponible para los clientes de la tienda online que se encuentren registrados para
tal fin y quedará sujeta a las Condiciones Generales de Contratación que aquí se detallan.

Los precios aplicables son los indicados en la web en la fecha de dicho pedido.

Los precios, vienen detallados con IVA en cada producto. Respecto a los precios que figuran indicados en la cesta de la
compra, aparece desglosado el importe total a pagar sin IVA y más abajo, el porcentaje del IVA correspondiente al
artículo que se ha seleccionado y su importe.

El envío será gratuito siempre que se superen los importes mínimos exigidos por tienda online (sin impuestos) para
envíos en la península (para pedidos inferiores, o fuera de península, consulte nuestra política de envíos aquí.)

Iris Copy se reserva el derecho de efectuar, en cualquier momento y sin previo aviso, las modificaciones que considere
oportunas, pudiendo actualizar, incluso diariamente y en varias ocasiones, productos y precios en función de las
novedades del sector al que pertenece. Estas modificaciones no afectarán a los pedidos ya realizados.

<h4>Formas de pago.</h4>
Las formas de pago disponibles son TPV bancaria y transferencia.

Si ya ha confirmado la compra (ha recibido un e-mail con la copia del pedido), el cliente deberá ponerse en contacto con
su tienda Iris Copy (los datos de su tienda Iris Copy le aparecen en su pedido y en su cuenta de cliente) o contactar
con la tienda online de Iris Copy, a través de la dirección de correo electrónico pedidos&#64;iris-copy.es

Se requiere: Código o nombre del cliente que realizó el pedido y número del pedido.

En caso de recibirse la anulación tras haber sido enviado el pedido, el cliente deberá solicitar su devolución íntegra,
este proceso se explica en el apartado VI de estas mismas condiciones de compra de tienda online.

<h4>Entrega.</h4>
Para cualquier duda o reclamación con respecto al transporte y entrega del pedido ponemos a su disposición nuestro
Departamento de Atención al Cliente con el que podrá contactar a través de la dirección de correo pedidos&#64;iris-copy.es.
También puede contactar directamente con su tienda Iris Copy (puede consultar los datos de su tienda Iris Copy aquí).

<h4>Devolución.</h4>
El comprador dispondrá de 14 días naturales a contar desde la recepción del pedido para poder realizar la devolución,
sin dar explicaciones, de la totalidad o parte del mismo. Toda devolución de material, cualquiera que sea su causa,
deberá remitirse en su embalaje y estado original.
