/* You can add global styles to this file, and also import other style files */
@use "assets/scss/colors.scss" as colors;
@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";
@use "assets/scss/select_button.scss";
@use "assets/scss/table.scss";
@use "assets/scss/tabmenu.scss";
@use "assets/scss/buttons.scss";
@use "assets/scss/toast.scss";
@use "assets/scss/menu.scss";
@use "assets/scss/select.scss";
@use "@fortawesome/fontawesome-free/css/all.min.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Tilt+Warp:100,200,300,400,500,700,800,900");

@font-face {
  font-family: "NeverMind";
  src: url("/assets/fonts/NeverMindRoundedMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: colors.$lila;
}

body {
  margin: 0;
  font-family: "Montserrat" !important;
}

.Form__Section {
  margin-bottom: 5px;

  .Label {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
  }
}

h2 {
  font-family: "Tilt Warp";
  color: colors.$rosa;
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

h3 {
  font-family: "Tilt Warp";
  color: colors.$rosa;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.iriscopy-box {
  border-radius: 10px;
  background-color: white;
  padding: 50px 60px 60px 60px;
  border: 1px solid black;
  h3 {
    margin-bottom: 20px;
  }

  h2,
  h3 {
    color: #1e293b;
  }

  &.padding-sm {
    padding: 50px 60px 20px 60px;
  }
}

label.form-label {
  span.mandatory {
    color: red;
  }
}

.p-fileupload-files {
  display: none;
}

.p-card-title.ng-star-inserted {
  word-break: break-all;
}

/* Legacy ButtonSet styles */
.p-buttonset .p-button:first-of-type {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.p-buttonset .p-button:last-of-type {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.p-fluid .p-buttonset .p-button {
  padding: 8px;
}

.p-component {
  font-family: "Montserrat" !important;
}

::ng-deep .p-badge {
  background-color: colors.$primary;
}

/* Media Query para pantallas de móviles */
@media (max-width: 768px) {
  .Form__Section {
    .Label {
      font-size: 15px;
    }
  }

  .p-button {
    font-size: 13px;
  }

  .iriscopy-box {
    padding: 25px 30px 30px 30px;

    &.padding-sm {
      padding: 25px 15px 15px 15px;
    }
  }

  .form-label {
    font-size: 14px;
  }
}

.p-galleria.p-component {
  border: none !important;
}

.p-radiobutton-checked .p-radiobutton-box,
.p-checkbox-checked .p-checkbox-box {
  background-color: colors.$primary !important;
  border-color: colors.$primary !important;
}
