/* You can add global styles to this file, and also import other style files */
$borderRadius: 10px;
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "assets/scss/colors.scss";
@import "assets/scss/select_button.scss";
@import "assets/scss/buttons.scss";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,800,900");

html {
  background-color: $background;
}

body {
  margin: 0;
  font-family: "Montserrat" !important;
}

.Form__Section {
  margin-bottom: 10px;

  .Label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
  }
}

.p-fileupload-files {
  display: none;
}

.p-card-title.ng-star-inserted {
  word-break: break-all;
}

.p-buttonset .p-button:first-of-type {
  border-bottom-left-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
}

.p-buttonset .p-button:last-of-type {
  border-bottom-right-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.p-fluid .p-buttonset .p-button {
  padding: 8px;
}

.p-component {
  font-family: "Montserrat" !important;
}

::ng-deep .p-badge {
  background-color: $primary;
}

/* Media Query para pantallas de móviles */
@media (max-width: 768px) {
  .Form__Section {
    .Label {
      font-size: 16px;
    }
  }
}
