<div class="title">
  <b>{{ name }}</b>
</div>
<div class="description">
  <div class="item" *ngIf="item.printForm && item.printForm.name">
    {{ item.printForm.name }}
  </div>
  <div class="item" *ngIf="item.paperType">
    {{ item.paperCategory.name }} - {{ item.paperType.description }}
  </div>
  <div class="item" *ngIf="item.finishType">{{ item.finishType.name }}</div>
  <div class="item" *ngIf="item.format">{{ item.format.name }}</div>
  <div class="item" *ngIf="item.paperSize">{{ item.paperSize.name }}</div>
  <div class="item" *ngIf="item.requireBox">
    {{ item.requireBox.code === "si" ? "Con caja" : "Sin caja" }}
  </div>

  <div class="item" *ngIf="item.copiesQuantity">
    {{ item.copiesQuantity.code || item.copiesQuantity }} copias
  </div>
</div>
<div class="cart-actions">
  <div class="price">
    <div class="remove">
      <i class="far fa-trash-alt" (click)="remove($event, item)"></i>
    </div>
    <div class="value">{{ (price || 0).toFixed(2) }}€</div>
    <div class="weight">{{ (weight / 1000 || 0).toFixed(2) }} kg</div>
  </div>
</div>
