@import "src/assets/scss/colors.scss";

#Menu {
  padding: 20px 0px 0px 0px;

  .Link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 20px;

    &:hover {
      text-decoration: none;
    }
  }

  .Shopcart {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;

    .ShoppingCart__Icon {
      cursor: pointer;
      font-size: 30px;
    }

    span.p-badge {
      background: $primary !important;
    }
  }
}
