@import "src/assets/scss/colors.scss";

#Menu {
  background-color: white;
  border-bottom: 2px solid black;
  padding: 20px 0px 20px 0px;

  .Shopcart {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;

    .ShoppingCart__Icon {
      cursor: pointer;
      font-size: 30px;
    }

    span.p-badge {
      background: $primary !important;
    }
  }
}
